<div class="col-md-12">
    <div class="panel panel-default margin-top-15px">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Search Variants</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control no-margin" placeholder="Enter Variant" ng-model="selectedVariant">
                        <div class="input-group-btn">
                            <button class="btn btn-primary no-margin" ng-click="getVariantInformation();">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-warning no-margin" ng-click="selectedVariant = ''; variantInformation = '';">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="variantInformation" class="panel-body">
            <div class="col-md-6">
                <h3>Details</h3>
                <table id="variant-information-table" class="table borderless no-select">
                    <tbody>
                    <tr><th>Variant</th><td>{{variantInformation.VariantId}}</td></tr>
                    <tr><th>Functional Annotation</th><td><i class="fa fa-info-circle" ng-click="openVariantAnnotationModal(variantInformation)"></i></td></tr>
                    <tr><th>dbSNP</th><td><a ng-show="variantInformation.dbSNPId" href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{variantInformation.dbSNPId}}" target="_blank">{{variantInformation.dbSNPId}}</a></td></tr>
                    <tr><th>Occurrence</th><td><a id="occurrence-link" ng-click="openVariantOccurrenceModal(variantInformation)">{{variantInformation.Occurrence}}</a></td></tr>
                    <tr><th>Population</th><td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sq-xs" ng-click="open1kgVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.onekGPhase3_EAS_AF" tooltip-append-to-body="true" uib-tooltip="1KG East Asian {{variantInformation.onekGPhase3_EAS_AF}}%" ng-style="{'background-color' : (variantInformation.onekGPhase3_EAS_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="open1kgVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.onekGPhase3_EUR_AF" tooltip-append-to-body="true" uib-tooltip="1KG European {{variantInformation.onekGPhase3_EUR_AF}}%" ng-style="{'background-color' : (variantInformation.onekGPhase3_EUR_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="open1kgVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.onekGPhase3_AFR_AF" tooltip-append-to-body="true" uib-tooltip="1KG African {{variantInformation.onekGPhase3_AFR_AF}}%" ng-style="{'background-color' : (variantInformation.onekGPhase3_AFR_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="open1kgVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.onekGPhase3_AMR_AF" tooltip-append-to-body="true" uib-tooltip="1KG Mixed American {{variantInformation.onekGPhase3_AMR_AF}}%" ng-style="{'background-color' : (variantInformation.onekGPhase3_AMR_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="open1kgVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.onekGPhase3_SAS_AF" tooltip-append-to-body="true" uib-tooltip="1KG South Asian {{variantInformation.onekGPhase3_SAS_AF}}%" ng-style="{'background-color' : (variantInformation.onekGPhase3_SAS_AF | afpct2colour)}"></button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sq-xs" ng-click="openExACVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.ExAC_EAS_AF" tooltip-append-to-body="true" uib-tooltip="ExAC East Asian {{variantInformation.ExAC_EAS_AF}}%" ng-style="{'background-color' : (variantInformation.ExAC_EAS_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="openExACVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.ExAC_NFE_AF" tooltip-append-to-body="true" uib-tooltip="ExAC Non-Finnish European {{variantInformation.ExAC_NFE_AF}}%" ng-style="{'background-color' : (variantInformation.ExAC_NFE_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="openExACVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.ExAC_AFR_AF" tooltip-append-to-body="true" uib-tooltip="ExAC African {{variantInformation.ExAC_AFR_AF}}%" ng-style="{'background-color' : (variantInformation.ExAC_AFR_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="openExACVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.ExAC_AMR_AF" tooltip-append-to-body="true" uib-tooltip="ExAC Latino {{variantInformation.ExAC_AMR_AF}}%" ng-style="{'background-color' : (variantInformation.ExAC_AMR_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="openExACVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.ExAC_SAS_AF" tooltip-append-to-body="true" uib-tooltip="ExAC South Asian {{variantInformation.ExAC_SAS_AF}}%" ng-style="{'background-color' : (variantInformation.ExAC_SAS_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="openExACVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.ExAC_FIN_AF" tooltip-append-to-body="true" uib-tooltip="ExAC Finnish {{variantInformation.ExAC_FIN_AF}}%" ng-style="{'background-color' : (variantInformation.ExAC_FIN_AF | afpct2colour)}"></button>
                                <button type="button" class="btn btn-sq-xs" ng-click="openExACVariantLink(variantInformation.VariantId)" tooltip-enable="variantInformation.ExAC_OTH_AF" tooltip-append-to-body="true" uib-tooltip="ExAC Other {{variantInformation.ExAC_OTH_AF}}%" ng-style="{'background-color' : (variantInformation.ExAC_OTH_AF | afpct2colour)}"></button>
                            </div>
                        </div>
                    </td></tr>
                    <tr><th>Conservation</th><td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sq-xs" tooltip-enable="variantInformation.GERP" tooltip-append-to-body="true" uib-tooltip="GERP {{variantInformation.GERP}}" ng-style="{'background-color' : (variantInformation.GERP | gerp2colour)}"></button>
                            <button type="button" class="btn btn-sq-xs" tooltip-enable="variantInformation.phyloP" tooltip-append-to-body="true" uib-tooltip="phyloP {{variantInformation.phyloP}}" ng-style="{'background-color' : (variantInformation.phyloP | phylop2colour)}"></button>
                            <button type="button" class="btn btn-sq-xs" tooltip-enable="variantInformation.phastCons" tooltip-append-to-body="true" uib-tooltip="phastCons {{variantInformation.phastCons}}" ng-style="{'background-color' : (variantInformation.phastCons | phastcons2colour)}"></button>
                        </div>
                    </td></tr>
                    <tr><th>Links</th>
                        <td>
                            <div class="dropdown">
                                <i class="fa fa-external-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Browsers</li>
                                    <li><a ng-click="openEnsemblVariantLink(variantInformation.VariantId)">Ensembl</a></li>
                                    <li><a ng-click="openUCSCVariantLink(variantInformation.VariantId)">UCSC</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form role="form">
                    <div class="form-group">
                        <h3>Pathogenicity</h3>
                        <select class="form-control" ng-model="selectedPathogenicity">
                            <option value="1">Benign Variant</option>
                            <option value="2">Likely Benign Variant</option>
                            <option value="3">Unclassified Variant</option>
                            <option value="4">Likely Pathogenic Variant</option>
                            <option value="5">Pathogenic Variant</option>
                        </select>
                    </div>
                </form>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Give evidence" rows="3" ng-model="pathogenicityEvidenceText"></textarea>
                </div>
                <button type="button" class="btn btn-success" ng-click="addVariantPathogenicity()">
                    <i class="fa fa-pencil"></i> Update
                </button>
            </div>
            <div class="col-md-6">
                <h3>History <span class="badge">{{variantInformation.History.length}}</span></h3>
                <ul class="list-group s-scroll">
                    <li class="list-group-item" ng-repeat="item in variantInformation.History | orderBy:'AddedDate':true">
                        <p><b>Pathogenicity class {{item.Classification}}</b></p>
                        <p ng-show="item.AddEvidence != null">{{item.AddEvidence}}</p>
                        <p>Added by {{item.AddedByUserId}} {{item.AddedDate | date:"dd/MM/yy"}}</p>
                        <p ng-show="item.AddAuthorisedByUserId">Add authorised by {{item.AddAuthorisedByUserId}} {{item.AddAuthorisedDate | date:"dd/MM/yy"}}</p>
                        <p ng-show="item.RemovedEvidence != null">{{item.RemovedEvidence}}</p>
                        <p ng-show="item.RemovedByUserId">Removed by {{item.RemovedByUserId}} {{item.RemovedDate | date:"dd/MM/yy"}}</p>
                        <p ng-show="item.RemoveAuthorisedByUserId">Remove authorised by {{item.RemoveAuthorisedByUserId}} {{item.RemoveAuthorisedDate | date:"dd/MM/yy"}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Search Transcripts</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control no-margin" placeholder="Enter Transcript" ng-model="selectedFeature">
                        <div class="input-group-btn">
                            <button class="btn btn-primary no-margin" ng-click="getFeature();">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-warning no-margin" ng-click="selectedFeature = ''; featureInformation = '';">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="featureInformation" class="panel-body">
            <div class="col-md-6">
                <h3>Details <i ng-show="featureInformation.Preferred" class="fa fa-star"></i></h3>
                <table id="feature-table" class="table borderless no-select">
                    <tbody>
                    <tr><th>Transcript</th><td><a id="feature-link" href="http://grch37.ensembl.org/Homo_sapiens/Location/View?t={{featureInformation.FeatureId}}" target="_blank">{{featureInformation.FeatureId}}</a></td></tr>
                    <tr><th>Strand</th><td>{{featureInformation.Strand}}</td></tr>
                    <tr><th>CCDS</th><td><a id="ccds-link" href="http://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=CCDS&DATA={{featureInformation.CCDSId}}" target="_blank">{{featureInformation.CCDSId}}</a></td></tr>
                    <tr><th>Type</th><td>{{featureInformation.FeatureType}}</td></tr>
                    <tr><th>Exons</th><td>{{featureInformation.TotalExons}}</td></tr>
                    <tr><th>Canonical</th><td>{{featureInformation.Canonical}}</td></tr>
                    </tbody>
                </table>
                <h3>Preferred Transcript</h3>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Give evidence" rows="3" ng-model="preferredFeatureEvidenceText"></textarea>
                </div>
                <button type="button" ng-class="{'btn btn-success': !featureInformation.Preferred, 'btn btn-warning': featureInformation.Preferred}" ng-click="changeFeaturePreference(featureInformation); preferredFeatureEvidenceText = ''">
                    <i class="fa fa-pencil"></i> Update
                </button>
            </div>
            <div class="col-md-6">
                <h3>History <span class="badge">{{featureInformation.History.length}}</span></h3>
                <ul class="list-group s-scroll">
                    <li class="list-group-item" ng-repeat="item in featureInformation.History | orderBy:'Date':true">
                        <h5>{{item.AddEvidence}}</h5>
                        <h6>Added by {{item.AddedByUserId}} ({{item.AddedDate | date:"dd/MM/yy"}})</h6>
                        <h6 ng-show="item.AuthorisedByUserId">Authorised by {{item.AuthorisedByUserId}} ({{item.AuthorisedDate | date:"dd/MM/yy"}})</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Search Panels</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control no-margin" placeholder="Enter Panel" ng-model="selectedVirtualPanel" typeahead-template-url="templates/VirtualPanelTypeahead.html" uib-typeahead="virtualPanel as virtualPanel.VirtualPanelName for virtualPanel in virtualPanels | filter:$viewValue | limitTo:5">
                        <div class="input-group-btn">
                            <button class="btn btn-primary no-margin" ng-click="getVirtualPanelGenes();">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-warning no-margin" ng-click="selectedVirtualPanel = ''; genes = ''; search = '';">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="genes" class="panel-body">
            <div class="col-md-6">
                <h3>Details</h3>
                <table id="gene-table" class="table borderless no-select">
                    <tbody>
                    <tr><th>Panel Name</th><td>{{selectedVirtualPanel.VirtualPanelName}}</td></tr>
                    <tr><th>Created</th><td>{{selectedVirtualPanel.UserId}} {{selectedVirtualPanel.Date | date:"dd/MM/yy"}}</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Content</h3>
                <table class="table table-bordered table-hover no-select">
                    <thead>
                    <tr>
                        <th colspan="2" width="100%">
                            <input type="text" class="form-control no-margin" placeholder="Search" ng-model="search">
                        </th>
                    </tr>
                    <tr>
                        <th width="75%" ng-click="sortType = 'SymbolId'; sortReverse = !sortReverse">
                            Symbol <i ng-class="sortReverse ? 'fa fa-sort-alpha-desc' : 'fa fa-sort-alpha-asc'" ng-show="sortType == 'SymbolId'"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="gene in genes | orderBy:sortType:sortReverse | filter:search">
                    <tr>
                        <td width="75%"><a id="symbol-link" href="http://omim.org/search?search={{gene}}" target="_blank">{{gene}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <p></p>
</div>