<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Search Variants</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control noMargin" placeholder="Enter Variant" ng-model="selectedVariant">
                        <div class="input-group-btn">
                            <button class="btn btn-primary noMargin" ng-click="getVariantInformation();">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-warning noMargin" ng-click="selectedVariant = ''; variantInformation = '';">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="variantInformation" class="panel-body">
            <div class="col-md-6">
                <h3>Details</h3>
                <table id="variantInformationTable" class="table borderless noSelect">
                    <tbody>
                    <tr><th>Variant</th><td>{{variantInformation.VariantId}}</td></tr>
                    <tr><th>dbSNP</th><td><a ng-show="variantInformation.dbSNPId" href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{variantInformation.dbSNPId}}" target="_blank">{{variantInformation.dbSNPId}}</a></td></tr>
                    <tr><th>Occurrence</th><td>{{variantInformation.Occurrence}}</td></tr>
                    <tr><th>Functional Annotation</th><td><i class="fa fa-info-circle" ng-click="openVariantAnnotationModal(variantInformation)"></i></td></tr>
                    <tr><th>Links</th>
                        <td>
                            <div class="dropdown noSelect">
                                <i class="fa fa-external-link"></i>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Browsers</li>
                                    <li><a ng-click="openEnsemblLink(variantInformation.VariantId)">Ensembl</a></li>
                                    <li><a ng-click="openUCSCLink(variantInformation.VariantId)">UCSC</a></li>
                                    <li><a ng-click="openExACLink(variantInformation.VariantId)">ExAC</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form role="form">
                    <div class="form-group">
                        <h3>Pathogenicity</h3>
                        <select class="form-control" id="sel1" ng-model="selectedPathogenicity">
                            <option value="0">Artefact</option>
                            <option value="1">Benign Variant</option>
                            <option value="2">Likely Benign Variant</option>
                            <option value="3">Unclassified Variant</option>
                            <option value="4">Likely Pathogenic Variant</option>
                            <option value="5">Pathogenic Variant</option>
                        </select>
                    </div>
                </form>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Give evidence" rows="3" id="pathogenicityEvidence" ng-model="pathogenicityEvidenceText"></textarea>
                </div>
                <button type="button" class="btn btn-success" ng-click="setVariantPathogenicity()">
                    <i class="fa fa-pencil"></i> Update
                </button>
            </div>
            <div class="col-md-6">
                <h3>History <span class="badge">{{variantInformation.History.length}}</span></h3>
                <ul class="list-group s-scroll">
                    <li class="list-group-item" ng-repeat="item in variantInformation.History | orderBy:'Date':true">
                        <p ng-show="item.Value != null"><b>Pathogenicity Classification {{item.Value}} added</b></p>
                        <p ng-show="item.Comment != null"><b>{{item.Comment}}</b></p>
                        <p>{{item.UserId}} {{item.Date | date:"dd/MM/yy"}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Search Transcripts</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control noMargin" placeholder="Enter Transcript" ng-model="selectedFeature">
                        <div class="input-group-btn">
                            <button class="btn btn-primary noMargin" ng-click="getFeature();">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-warning noMargin" ng-click="selectedFeature = ''; featureInformation = '';">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="featureInformation" class="panel-body">
            <div class="col-md-6">
                <h3>Details <i ng-show="featureInformation.Preferred" class="fa fa-star"></i></h3>
                <table id="featureTable" class="table borderless noSelect">
                    <tbody>
                    <tr><th>Transcript</th><td><a id="featureLink" href="http://grch37.ensembl.org/Homo_sapiens/Location/View?t={{featureInformation.FeatureId}}" target="_blank">{{featureInformation.FeatureId}}</a></td></tr>
                    <tr><th>Strand</th><td>{{featureInformation.Strand}}</td></tr>
                    <tr><th>CCDS</th><td><a id="ccdsLink" href="http://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=CCDS&DATA={{featureInformation.CCDSId}}" target="_blank">{{featureInformation.CCDSId}}</a></td></tr>
                    <tr><th>Type</th><td>{{featureInformation.FeatureType}}</td></tr>
                    <tr><th>Exons</th><td>{{featureInformation.TotalExons}}</td></tr>
                    </tbody>
                </table>
                <h3>Preferred Transcript</h3>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Give evidence" rows="3" ng-model="preferredFeatureEvidenceText"></textarea>
                </div>
                <button type="button" ng-class="{'btn btn-success': !featureInformation.Preferred, 'btn btn-warning': featureInformation.Preferred}" ng-click="changeFeaturePreference(featureInformation); preferredFeatureEvidenceText = ''">
                    <i class="fa fa-pencil"></i> Update
                </button>
            </div>
            <div class="col-md-6">
                <h3>History <span class="badge">{{featureInformation.History.length}}</span></h3>
                <ul class="list-group s-scroll">
                    <li class="list-group-item" ng-repeat="item in featureInformation.History | orderBy:'Date':true">
                        <h5>{{item.AddEvidence}}</h5>
                        <h6>Added by {{item.AddedByUserId}} ({{item.AddedDate | date:"dd/MM/yy"}})</h6>
                        <h6 ng-show="item.AuthorisedByUserId">Authorised by {{item.AuthorisedByUserId}} ({{item.AuthorisedDate | date:"dd/MM/yy"}})</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Search Panels</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control noMargin" placeholder="Enter Panel" ng-model="selectedVirtualPanel" typeahead-template-url="templates/VirtualPanelTypeahead.html" uib-typeahead="virtualPanel as virtualPanel.VirtualPanelName for virtualPanel in virtualPanels | filter:$viewValue | limitTo:5">
                        <div class="input-group-btn">
                            <button class="btn btn-primary noMargin" ng-click="getVirtualPanelGenes();">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-warning noMargin" ng-click="selectedVirtualPanel = ''; genes = ''; search = '';">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table ng-show="genes" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="2" width="100%">
                    <input type="text" class="form-control noMargin" placeholder="Search" ng-model="search">
                </th>
            </tr>
            <tr>
                <th width="75%" ng-click="sortType = 'SymbolId'; sortReverse = !sortReverse">
                    Symbol <i ng-class="sortReverse ? 'fa fa-sort-alpha-desc' : 'fa fa-sort-alpha-asc'" ng-show="sortType == 'SymbolId'"></i>
                </th>
                <th width="25%" ng-click="sortType = 'GeneId'; sortReverse = !sortReverse">
                    Ensembl Id <i ng-class="sortReverse ? 'fa fa-sort-alpha-desc' : 'fa fa-sort-alpha-asc'" ng-show="sortType == 'GeneId'"></i>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="gene in genes | orderBy:sortType:sortReverse | filter:search">
            <tr>
                <td width="75%"><a id="symbolLink" href="http://omim.org/search?search={{gene.SymbolId}}" target="_blank">{{gene.SymbolId}}</a></td>
                <td width="25%"><a id="geneIdLink" href="http://grch37.ensembl.org/Homo_sapiens/Location/View?g={{gene.GeneId}}" target="_blank">{{gene.GeneId}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
    <p></p>
</div>