<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Add, View or Edit Panel</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control noMargin" placeholder="Enter Panel Name" ng-model="selectedPanel" uib-typeahead="panel as panel.PanelName for panel in virtualPanels | filter:$viewValue | limitTo:5">
                        <div class="input-group-btn">
                            <button class="btn btn-primary noMargin" ng-click="getGenes();">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-warning noMargin" ng-click="selectedPanel = null; genes = null; search = '';">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table ng-show="genes" class="table table-bordered table-hover noSelect">
                <thead>
                <tr>
                    <th colspan="2" width="100%">
                        <input type="text" class="form-control noMargin" placeholder="Search" ng-model="search">
                    </th>
                </tr>
                <tr>
                    <th width="2.5%">
                        <span class="glyphicon glyphicon-plus"></span>
                    </th>
                    <td width="97.5">
                        <a ng-click="sortType = 'Gene'; sortReverse = !sortReverse">Gene <span ng-class="sortReverse ? 'glyphicon glyphicon-triangle-top' : 'glyphicon glyphicon-triangle-bottom'" ng-show="sortType == 'Gene'"></span></a>
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat="gene in genes | orderBy:sortType:sortReverse | filter:search">
                <tr>
                    <td width="2.5">
                        <span class="glyphicon glyphicon-remove" ng-click="removeGeneFromPanel(gene.Gene)"></span>
                    </td>
                    <td width="97.5">{{gene.Gene}}</td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>