<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Add, View or Edit Panel</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control noMargin" placeholder="Enter Panel Name" ng-model="selectedPanel" typeahead-template-url="templates/panelTypeahead.html" uib-typeahead="panel as panel.PanelName for panel in virtualPanels | filter:$viewValue | limitTo:5">
                        <div class="input-group-btn">
                            <button class="btn btn-primary noMargin" ng-click="getGenes();">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-warning noMargin" ng-click="selectedPanel = null; genes = null; search = '';">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table ng-show="genes" class="table table-bordered table-hover noSelect">
                <thead>
                <tr>
                    <th colspan="2" width="100%">
                        <input type="text" class="form-control noMargin" placeholder="Search" ng-model="search">
                    </th>
                </tr>
                <tr>
                    <th width="2.5%">
                        <span class="glyphicon glyphicon-plus"></span>
                    </th>
                    <th width="97.5">
                        <a ng-click="sortType = 'Gene'; sortReverse = !sortReverse">Gene <span ng-class="sortReverse ? 'glyphicon glyphicon-triangle-top' : 'glyphicon glyphicon-triangle-bottom'" ng-show="sortType == 'Gene'"></span></a>
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat="gene in genes | orderBy:sortType:sortReverse | filter:search">
                <tr>
                    <td width="2.5">
                        <span class="glyphicon glyphicon-remove" ng-click="removeGeneFromPanel(gene.Gene)"></span>
                    </td>
                    <td width="97.5">{{gene.Gene}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">View or Edit Variant</h3>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control noMargin" placeholder="Enter Variant" ng-model="selectedVariant">
                        <div class="input-group-btn">
                            <button class="btn btn-primary noMargin" ng-click="getVariantInfo(); getVariantAnnotations();">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-warning noMargin" ng-click="selectedVariant = null; variantInfo = null;">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="variantInfo && variantInfo != '';" class="panel-body">
            <div class="col-md-4">
                <h3>Details</h3>
                <p><b>dbSNP: </b>{{variantInfo.dbSNP}}</p>
                <p><b>Occurrence: </b></p>
                <h3>Pathogenicity</h3>
                <p><b>Class: </b>
                    <select ng-model="variantInfo.Class">
                        <option value="0">Artefact</option>
                        <option value="1">Benign</option>
                        <option value="2">Likely Benign</option>
                        <option value="3">Unknown Significance</option>
                        <option value="4">Likely Pathogenic</option>
                        <option value="5">Pathogenic</option>
                    </select>
                </p>
                <p><b>Comments: </b></p>
                <textarea id="pathCommentBox" ng-modal="variantInfo.Comment" rows="3" cols="40"></textarea>
                <p ng-hide="variantInfo.User == null"><b>User: </b>{{variantInfo.User}}</p>
                <p ng-hide="variantInfo.Time == null"><b>Date: </b>{{variantInfo.Time}}</p>
                <p></p>
                <button type="button" class="btn btn-success" ng-click="">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Update
                </button>
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th width="10%">Gene</th>
                            <th width="10%">Transcript</th>
                            <th width="15%">Biotype</th>
                            <th width="10%">Location</th>
                            <th width="10%">HGVSc</th>
                            <th width="10%">HGVSp</th>
                            <th width="15%">Consequences</th>
                            <th width="10%">SIFT</th>
                            <th width="10%">PolyPhen</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="annotation in Annotations">
                        <tr>
                            <td width="10%">{{annotation.Symbol}}</td>
                            <td width="15%">{{annotation.Feature}}</td>
                            <td width="15%">{{annotation.Biotype}}</td>
                            <td width="10%">{{annotation.Location}}</td>
                            <td width="10%">{{annotation.HGVSc}}</td>
                            <td width="10%">{{annotation.HGVSp}}</td>
                            <td width="15%">{{annotation.Consequence}}</td>
                            <td width="10%">{{annotation.SIFT}}</td>
                            <td width="10%">{{annotation.PolyPhen}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>