<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{items.VariantId}}</h3>
    </div>
    <div class="modal-body">
        <ul ng-repeat="(key, value) in items.Frequencies" ng-if="value!=null">
            <td><strong>{{ key }}:</strong> {{ value }}</td>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
    </div>
</script>
<div class="col-md-3">
    <input type="text" class="form-control" placeholder="Enter sample" ng-model="selectedAnalysis" typeahead="analysis as analysis.SampleId for analysis in analyses | filter:$viewValue | limitTo:3">
</div>
<div class="col-md-3">
    <input type="text" class="form-control" placeholder="Enter virtual panel" ng-model="selectedPanel" typeahead="panel as panel.PanelName for panel in virtualPanels | filter:$viewValue | limitTo:3">
</div>
<div class="col-md-3">
    <input type="text" class="form-control" placeholder="Enter filter workflow" ng-model="selectedWorkflow" typeahead="workflow as workflow.Name for workflow in workflows | filter:$viewValue | limitTo:3">
</div>
<div class="col-md-3">
    <button type="button" class="btn btn-success" ng-click="filterVariants()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Search
    </button>
    <button type="button" class="btn btn-warning" ng-click="selectedAnalysis = ''; selectedPanel = ''; selectedWorkflow = ''; filteredVariants = '';">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Clear
    </button>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <bubble-chart chart-data="bubbles" chart-on-bubble-click="handleClick"></bubble-chart>
        </div>
    </div>
</div>
<div class="col-md-12">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td><input type="checkbox"></td>
            <td>VariantId</td>
            <td>Inheritance</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in filteredVariants.Variants | filter: { Filter: selectedFilter }" ng-dblclick="fullVariantInfo(v)">
            <td><input type="checkbox"></td>
            <td>{{ v.VariantId }}</td>
            <td>{{ v.Inheritance }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12">
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            Export
    </button>
</div>