<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Title</h3>
    </div>
    <div class="modal-body">
        <h1>Body</h1>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
    </div>
</script>
<div class="col-md-3">
    <input type="text" class="form-control" placeholder="Enter sample" ng-model="selectedAnalysis" typeahead="analysis as analysis.SampleId for analysis in analyses | filter:$viewValue | limitTo:3">
</div>
<div class="col-md-3">
    <input type="text" class="form-control" placeholder="Enter virtual panel" ng-model="selectedPanel" typeahead="panel as panel.PanelName for panel in virtualPanels | filter:$viewValue | limitTo:3">
</div>
<div class="col-md-3">
    <input type="text" class="form-control" placeholder="Enter filter workflow" ng-model="selectedWorkflow" typeahead="workflow as workflow.Name for workflow in workflows | filter:$viewValue | limitTo:3">
</div>
<div class="col-md-3">
    <button type="button" class="btn btn-success" ng-click="filterVariants()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Search
    </button>
    <button type="button" class="btn btn-warning" ng-click="selectedAnalysis = ''; selectedPanel = ''; selectedWorkflow = ''; gridOptions.data = ''; variantFilters = '';">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Clear
    </button>
</div>
<div class="col-md-12">
    <p></p>
    <nvd3 id="donutChart" options="donutChartOptions" data="variantFilters"></nvd3>
</div>
<div class="col-md-12">
    <div id="variantGrid" ui-grid="gridOptions" class="grid"></div>
</div>
<div class="col-md-12">
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            Export
    </button>
</div>
<div class="col-md-12">
    <p></p>
</div>