<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User Account</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <i id="user-account-image" class="fa fa-user-md"></i>
            </div>
            <h4>{{userInformation|json}}</h4>
            <div class="col-md-8">
                <h2>Your Settings</h2>
                <table id="user-account-table" class="table borderless no-select">
                    <tbody>
                    <tr><th>User Id</th><td>{{userInformation.UserId}}</td></tr>
                    <tr><th>Account Type</th><td>{{userInformation.AccountType}}</td></tr>
                    <tr><th>Full Name</th><td>{{userInformation.FullName}}</td></tr>
                    <tr><th>Job Title</th><td>{{userInformation.JobTitle}}</td></tr>
                    <tr><th>Email</th><td>{{userInformation.EmailAddress}}</td></tr>
                    <tr><th>Phone</th><td>{{userInformation.ContactNumber}}</td></tr>
                    <tr><th>Password</th>
                        <td>
                            <input type="text" class="form-control no-margin" placeholder="********" ng-model="newPassword">
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="updatePassword()">
                                <i class="fa fa-pencil"></i> Update
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>