<div class="col-md-12">
    <div class="panel panel-default margin-top-15px">
        <div class="panel-heading">
            <h3 class="panel-title">User Account</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <i id="user-account-image" class="fa fa-user-md"></i>
            </div>
            <div class="col-md-8">
                <h2>Your Settings</h2>
                <div class="table-responsive">
                <table id="user-account-table" class="table borderless">
                    <tbody>
                    <tr><th>Name</th><td>{{user.fullName}}</td></tr>
                    <tr><th>Job Title</th><td>{{user.jobTitle}}</td></tr>
                    <tr><th>User Id</th><td>{{user.userId}}</td></tr>
                    <tr><th>Admin</th><td>{{user.admin|yesNoFilter}}</td></tr>
                    <tr><th>Phone</th><td>{{user.contactNumber}}</td></tr>
                    <tr><th>Password</th>
                        <td>
                            <input type="password" class="form-control no-margin" placeholder="********" data-ng-model="newPassword">
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-ng-click="updatePassword()">
                                <i class="fa fa-pencil"></i> Update
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>