/*Padding and margins*/
.no-margin {
    margin-top : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
}
.no-padding {
    padding-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
}
.jumbotron {
    height:300px;
    margin :0;
    padding-bottom:0;
    padding-top : 25px;
}
.btn-sq-xs {
    width: 8px !important;
    height: 8px !important;
    padding : 2px !important;
    margin : 1px !important;
}
input, #search-button, #clear-button, #export-button, #variant-table, .panel {
    margin-top : 15px;
    margin-bottom : 0;
}
.panel-title {
    margin:10px;
}

/*list group*/
.s-scroll {
    max-height: 320px;
    overflow-y:scroll;
}
.list-group-item {
    word-wrap: break-word;
}

/* Specify styling for tooltip contents */
.tooltip.customClass .tooltip-inner {
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.tooltip.customClass .tooltip-arrow {
    display: none;
}

/*Disable blue highlight on select*/
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*modal*/
.app-modal-window .modal-dialog {
    width: 95%;
}

/*user account page*/
#user-account-image {
    color : lightgrey;
    font-size: 350px;
}

/*Styling for external links*/
#occurrence-filter, #internal-frequency-filter, #dbSNP-id-filter, #ccds-link, #symbol-link,
#feature-link, #gene-id-link, #occurrence-link {
    color : black;
}

/*Grid styles*/
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
#user-account-table > tbody > tr > td, #user-account-table > tbody > tr > th,
#feature-table > tbody > tr > td, #feature-table > tbody > tr > th,
#variant-information-table > tbody > tr > td, #variant-information-table > tbody > tr > th {
    font-size: 14px;
    padding-left : 0;
    vertical-align: middle;
}

/*text box styles*/
textarea {
    resize:none;
}

/*Sigin in page*/
.form-signin {
    max-width: 330px;
    padding: 0;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}