<div class="modal-header">
    <h3 class="modal-title">{{items.VariantId}}</h3>
</div>
<div class="modal-body">
    <table class="table table-condensed no-margin no-padding no-select">
        <thead>
        <tr>
            <th width="2.5%"><i class="fa fa-external-link"></i></th>
            <th width="10%">Gene</th>
            <th width="12.5%">Transcript</th>
            <th width="10%">CCDS</th>
            <th width="15%">Consequence</th>
            <th width="10%">HGVSc</th>
            <th width="10%">HGVSp</th>
            <th width="5%">Codons</th>
            <th width="5%">Location</th>
            <th width="10%">SIFT</th>
            <th width="10%">PolyPhen</th>
        </tr>
        </thead>
        <tbody ng-repeat="annotation in items.Annotation">
        <tr>
            <td width="2.5%">
                <div class="dropdown">
                    <div class="dropdown">
                        <i class="fa fa-external-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                            <li class="dropdown-header">Web Search</li>
                            <li><a ng-click="openGoogleScholarLink(annotation)">Scholar</a></li>
                            <li><a ng-click="openClinVarLink(annotation)">ClinVar</a></li>
                            <li><a href="http://www.hgvs.org/locus-specific-mutation-databases/?field_hgnc_gene_symbol_title={{annotation.SymbolId}}" target="_blank">LSDB</a></li>
                            <li><a href="http://omim.org/search?index=entry&search={{annotation.SymbolId}}" target="_blank">OMIM</a></li>
                            <li class="dropdown-header">Protein Database</li>
                            <li ng-class="{disabled: !annotation.Pfam_domain}"><a ng-click="!annotation.Pfam_domain || openPfamLink(annotation.Pfam_domain)">Pfam</a></li>
                            <li ng-class="{disabled: !annotation.hmmpanther}"><a ng-click="!annotation.hmmpanther || openPantherLink(annotation.hmmpanther)">PANTHER</a></li>
                            <li ng-class="{disabled: !annotation.prosite}"><a ng-click="!annotation.prosite || openPrositeLink(annotation.prosite)">PROSITE</a></li>
                            <li ng-class="{disabled: !annotation.Superfamily_domains}"><a ng-click="!annotation.Superfamily_domains || openSuperfamilyLink(annotation.Superfamily_domains)">Superfamily</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td width="10%"><a id="symbol-link" href="http://omim.org/search?search={{annotation.SymbolId}}" target="_blank">{{annotation.SymbolId}}</a></td>
            <td width="12.5%"><a id="feature-link" href="http://grch37.ensembl.org/Homo_sapiens/Location/View?t={{annotation.FeatureId}}" target="_blank">{{annotation.FeatureId}}</a> <i ng-show="annotation.Canonical" class="fa fa-star" style="color:goldenrod"></i></td>
            <td width="10%"><a id="ccds-link" href="http://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=CCDS&DATA={{annotation.CCDSId}}" target="_blank">{{annotation.CCDSId}}</a></td>
            <td width="15%">{{annotation.Consequence}}</td>
            <td width="10%">{{annotation.HGVSc}}</td>
            <td width="10%">{{annotation.HGVSp}}</td>
            <td width="5%">{{annotation.Codons}}</td>
            <td width="5%">{{annotation.Location}}</td>
            <td width="10%">{{annotation.Sift | uppercase}}</td>
            <td width="10%">{{annotation.Polyphen | uppercase}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>